{% extends 'base.html' %}


{% block content %}

<div class="row pt-3">
  <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
  	<div class="card">  	
	  	<div class="card-header custom_bg_blue text-center">
	  		<h1>Password Reset Successfully</h1>
	  	</div>
	  	<div class="card-body text-center p-3 mb-5">

	  		<p class="p-3" >You may go ahead and sign in now.</p>

	  		<a class="btn btn-warning btn-lg" href="{% url 'login' %}">Login</a>
	  		
	  	</div>
  	</div>
  </div>
</div>

{% endblock %}