{% extends 'base.html' %}

{% block content %}
<div class="row pt-3">
  <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
  	<div class="card">  	
	  	<div class="card-header custom_bg_blue text-center">
	  		<h1>Email Sent</h1>
	  	</div>
	  	<div class="card-body text-center p-3 mb-5">

	  		<p class="p-3" >We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly</p>

		    <p class="p-3" >If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

	  		<a class="btn btn-warning btn-lg" href="{% url 'home' %}">Return to home page</a>
	  		
	  	</div>
  	</div>
  </div>
</div>

{% endblock %}