{% block websocket %}
<script type="text/javascript">
	const user_id = JSON.parse(document.getElementById('user_id').textContent);
	const user_role = JSON.parse(document.getElementById('user_role').textContent);
	const room_name = JSON.parse(document.getElementById('room_name').textContent);
	const room_id = JSON.parse(document.getElementById('room_id').textContent);
	const room_slug = JSON.parse(document.getElementById('room_slug').textContent);

	console.log("user_id", user_id)
	console.log("user_role", user_role)
	console.log("room_name", room_name)
	console.log("room_id", room_id)
	console.log("room_slug", room_slug, typeof(room_slug))

	const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws"; 
	
</script>
{% block jitsi_data_script %}
	{% include 'jitsi_data/consumer_jitsi_script.html' %}
{% endblock jitsi_data_script %}

{% block status_script %}
	{% include 'websockets/status_consumer.html' %}
{% endblock status_script %}

{% block match_script %}
	{% include 'websockets/match_consumer.html' %}
{% endblock match_script %}

<!-- {% block room_chat_script %}
	include 'websockets/room_chat_consumer.html' 
{% endblock room_chat_script %} -->

{% if user_role == "Staff" %}
	{% block staff_chat_script %}
		{% include 'websockets/staff_chat_consumer.html' %}
	{% endblock staff_chat_script %}
{% endif %}

{% block private_message_script %}
	{% include 'websockets/private_chat_consumer.html' %}
{% endblock private_message_script %}

{% include 'websockets/socket_connections_checks.html' %}

<!--if logged_in_user.username == "Buddy_Admin" or logged_in_user.username == "Mickie" or logged_in_user.username == "JinLee"%}



{% endif -->

{% endblock websocket %}