{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="d-grid justify-content-center pt-5">
		<div class="card">
			<div class="card-header custom_bg_blue">
				<h2 class="text-center m-0 p-3"> We Will Be Back Soon!</h2>			
			</div>
			<div class="card-body">
				<div class="text-center px-5">
					<h3> Thank you for coming to see us today.</h3>
					<p class="pt-3"> The website is being updated before next week's sessions.</p>

				</div>			
			</div>		
		</div>
</div>
{% endblock content %}